@import "../../styles.sass"

.card 
  width: 300px
  height: 400px
  background-color: white
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.card-header
  position: relative

.img-header
  width: 100%
  height: 200px

.img-header img
  width: 100%
  height: 100%

.circle-button
  margin-left: 5px
  margin-right: 5px

.action-buttons
  position: absolute
  left: 50%
  bottom: -2em

.content-card
  margin-top: 40px
  margin-left: 20px
  margin-right: 20px
  font-family: $default-font

.card-footer
  margin-left: 20px
  margin-right: 20px
  margin-bottom: 5px
  margin-top: 15px
  font-family: $default-font

.avatar
  height: 40px
  width: 40px

.avatar img
  border-radius: 50%
  height: 100%
  width: 100%

.title-card
  font-weight: bold
  font-size: 1.5rem

@media screen and (max-width: $mobile)
  .card 
    width: 279px
    height: 400px
    background-color: white
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  
  .img-header
    width: 100%
    height: 200px

  .img-header img
    width: 100%
    height: 100%

  .circle-button
    margin-left: 5px
    margin-right: 5px

  .action-buttons
    position: absolute
    left: 50%
    bottom: -2em

  .content-card
    margin-top: 40px
    margin-left: 20px
    margin-right: 20px
    font-size: 0.9rem
    font-family: $default-font
  
  .card-footer
    margin-left: 20px
    margin-right: 20px
    margin-bottom: 5px
    margin-top: 15px
    font-family: $default-font

  .avatar
    height: 40px
    width: 40px

  .avatar img
    border-radius: 50%
    height: 100%
    width: 100%

  .title-card
    font-weight: bold
    font-size: 1.5rem