<div class="card">
  <div class="card-header">
    <div class="img-header">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card Image">
    </div>
    <div class="action-buttons">
      <button mat-fab color="" class="circle-button">
        <i class="material-icons">create</i>
      </button>
      <button mat-fab color="" class="circle-button">
        <i class="material-icons">clear</i>
      </button>
    </div>
  </div>
  <div class="content-card">
    <span class="title-card">Card Title</span>
    <br /><br />
    Lorem Ipsum is simply dummy text of the printing and...
  </div>
  <div
    class="card-footer"
    fxLayout
    fxLayoutAlign="start center"
  >
    <div fxFlex="20%">
      <div class="avatar">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar">
      </div>
    </div>
    <div class="name-footer" fxFlex>
      By Carlos Silva
    </div>
  </div>
</div>
