<h1 mat-dialog-title>New Card</h1>

<div mat-dialog-content [formGroup]="cardForm"> 
  <mat-form-field fxFlexFill>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-form-field fxFlexFill>
    <input matInput placeholder="Title" formControlName="title">
  </mat-form-field>
  <mat-form-field fxFlexFill>
    <input matInput placeholder="Description" formControlName="description">
  </mat-form-field>  
  <input hidden type="file" #uploader (change)="uploadFile($event)" formControlName="image">
</div>

<div class="upload-file">
  <button mat-button (click)="uploader.click()">Upload File</button>
  <label *ngIf="fileName" class="file-uploaded">{{fileName}}</label>
</div>

<div mat-dialog-actions fxLayoutAlign="end" class="action-buttons">
  <button mat-raised-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>