@import "~@angular/material/prebuilt-themes/indigo-pink.css"

/* Fonts */
$default-font: verdana

/* Colors */
$primary-color: #eeeeee
$icon-color: #747474

/* Media queries */
$mobile: 330px; //max Iphone 5

body
  background-color: $primary-color
  margin: 0
  padding: 0
 
