@import "../../styles.sass"

.header 
  width: 100%
  height: 80px
  background-color: #e6e6e6

.button-outline
  margin-top: 22px
  margin-right: 25px
  width: 9.8vh
  height: 5.5vh
  background-color: #f9f9f9
  border-radius: 4px

.button-add 
  color: $icon-color
  font-size: 2rem

.content
  margin-left: 2%
  margin-right: 2%  
  margin-bottom: 2%
  display: flex
  flex-direction: row
  flex-wrap: wrap

.item-card
  margin-right: 10px
  margin-left: 10px
  margin-top: 30px
