<div class="header">
  <div fxLayout="row" fxLayoutAlign="end">
    <div class="button-outline">
      <button mat-button color="primary" (click)="openCardAddDialog()">
        <i class="material-icons button-add">playlist_add</i>
      </button>
    </div>
  </div>
</div>

<div class="content">
    <app-card class="item-card"></app-card>
    <app-card class="item-card"></app-card>
    <app-card class="item-card"></app-card>
    <app-card class="item-card"></app-card>
    <app-card class="item-card"></app-card>
    <app-card class="item-card"></app-card>
    <app-card class="item-card"></app-card>
    <app-card class="item-card"></app-card>
</div>